.total-banner {
    background-color: green;
    padding: 30px 0;
}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 768px){
    .container {
        padding: 0 12px;
        width: 720px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px){
    .container {
        padding: 0 16px;
        width: 540px;
        margin: 0 auto;
    }
}

.container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}



